# Filtering and Sorting Data

### Short Description About Data

This data is of a Restaurant.
Some of the special and variety of dishes are provided by the Restaurant.
Costumer's extra recommendations to add in order according their taste.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [5]:
pd.read_table(r"C:\Users\aksh\Desktop\Balmeet_maa_assignment\pandas_sorting\chipotle.tsv",)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo=pd.read_table(r"C:\Users\aksh\Desktop\Balmeet_maa_assignment\pandas_sorting\chipotle.tsv",)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [11]:
chipo["item_price"]=chipo["item_price"].str.replace("$","")

C:\Users\aksh\AppData\Local\Temp\ipykernel_4676\2573171273.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo["item_price"]=chipo["item_price"].str.replace("$","")

In [13]:
chipo["item_price"]=chipo["item_price"].astype(float)

In [14]:
chipo["item_price"].dtypes

dtype('float64')

In [18]:
item=len(chipo[chipo["item_price"]>10])

In [19]:
print(item,"product have more cost than 10")

1130 product have more cost than 10

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [43]:
chipo.groupby(["item_name"])["item_price"].agg(["unique"])

                                                                                  unique
item_name
6 Pack Soft Drink                                                          [6.49, 12.98]
Barbacoa Bowl                                    [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                 [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                   [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                        [11.89, 9.39]
Barbacoa Soft Tacos                                           [9.25, 8.99, 11.75, 11.48]
Bottled Water                          [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                         [22.2, 7.4]
Burrito                                                                            [7.4]
Canned Soda                                                           [2.18, 1.09, 4.36]
Canned Soft Drink                                                 [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                             [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                           [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                         [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                    [8.99]
Carnitas Salad Bowl                                                        [11.89, 9.39]
Carnitas Soft Tacos                                                  [9.25, 8.99, 11.75]
Chicken Bowl                           [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                        [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                             [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                        [10.98, 8.49, 8.19]
Chicken Salad Bowl                                             [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                        [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                            [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                        [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                    [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                  [3.0]
Chips and Roasted Chili Corn Salsa                                           [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                [2.39]
Chips and Tomatillo Green Chili Salsa                                        [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                       [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                   [2.39, 4.78, 7.17]
Crispy Tacos                                                                       [7.4]
Izze                                                                              [3.39]
Nantucket Nectar                                                            [3.39, 6.78]
Salad                                                                              [7.4]
Side of Chips                                                        [1.69, 5.07, 13.52]
Steak Bowl                             [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                          [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                      [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                 [8.99, 8.69]
Steak Salad Bowl                                                    [23.78, 11.89, 9.39]
Steak Soft Tacos                                        [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                            [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                         [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                               [8.49]
Veggie Salad                                                                      [8.49]
Veggie Salad Bowl                                                          [11.25, 8.75]
Veggie Soft Tacos                                             [11.25, 8.75, 8.49, 16.98]

### Step 6. Sort by the name of the item

In [45]:
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
chipo[chipo["item_price"]==chipo["item_price"].max()]["item_name"]

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [51]:
p=len(chipo[chipo["item_name"]=="Veggie Salad Bowl"])

In [52]:
print(p,"time Veggie Salad Bowl ordered")

18 time Veggie Salad Bowl ordered

### Step 9. How many times people orderd more than one Canned Soda?

How many time Canned Soda were ordered when quantity were two of Canned Soda?

In [60]:
TT=len(chipo[(chipo["quantity"]==2) & (chipo["item_name"]=="Canned Soda")])

In [61]:
print(TT,"Time Canned soda were ordered when quantity were 2")

19 Time Canned soda were ordered when quantity were 2